body {
    background-color: #131313;
}

html {
    overflow: hidden;
    height: 100%;
}

/* h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1.4px 1.4px grey;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 8px;
} */

h4 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 20px;
    letter-spacing: 4px;
}



.symbols {
    justify-content: center;
    margin-top: 20px;
}

.symbol {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
}

.row {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.modal {
    margin-top: 400px;
    color: rgb(51, 51, 51);
    overflow-y: auto;
    padding-right: 0px !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}


.modal-open {
    overflow: auto;
    padding-right: 0px !important;
    border: none !important;
}

.modal-body {
    font-family: 'Cutive Mono', monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    background-color: transparent;
    color: white;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.modal-content {
    background-color: transparent;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.modal-title {
    font-family: 'Cutive Mono', monospace !important;
    color: white !important;
    border: none !important;
}

.modal-header {
    font-family: 'Cutive Mono', monospace !important;
}

.modal-backdrop {
  background-color: transparent;
  border: none !important;
}

.button {
    background-color: transparent;
    color: white;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    color: white;
}

.btn-close {
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-hover {
  color: orange !important;
}

.moonPhase .img {
    height: 100px;
    width: 100px;
}

.brand {
    animation: glitch 1s linear infinite;
    justify-content: center;
    background: #131313;
    color: #fff;
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 1px 1px rgb(252, 243, 193);
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    background-color: #131313;
}



@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.brand:before,
.brand:after{
  content: attr(title);
  position: absolute;
}

.brand:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.brand:after{
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.tagline {
    justify-content: center;
    display: flex;
}


@media (min-width: 600px) {
    h1 {
        color: rgb(255, 255, 255);
        text-shadow: 1.4px 1.4px grey;
        font-size: 100px;
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: 15px;
    }
    
    h4 {
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        margin-top: 3px;
        margin-bottom: 50px;
        letter-spacing: 4px;
    }

    .symbol {
        width: 85px;
        height: 85px;
        margin-bottom: 30px;
    }

    .row {
        margin-left: 300px;
        margin-right: 1100px;
        margin-top: 100px;
    }

    .brand {
      font-size: 140px;
      letter-spacing: 10px;
      text-shadow: 1px 1px rgb(252, 243, 193);
    }

    .modal {
        margin-top: 260px;
        margin-left: 400px;
        overflow-y: auto;
        padding-right: 0px !important;
    }

    .modal-dialog {
        max-width: 600px;
    }

    .modal-open {
        overflow: auto;
        padding-right: 0px !important;
    }

    .modal-body {
        font-size: 18px;
    }
}